<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        {{selectedAccount | toRS}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" id="filter" role="menu">
        <li ng-repeat="account in accounts">
            <a ng-click="changeAccount(account)" class="disabled">
                {{account.tx_account_id | toRS}} <strong ng-if="account.tx_label">&lt;{{account.tx_label}}&gt;</strong><strong ng-if="!account.tx_label">&lt;- No label -&gt;</strong>
            </a>
        </li>
    </ul>
</div>