<div ng-controller="AccountCurrenciesController">
    <span style="cursor: pointer;" ng-click="refresh()" class="glyphicon glyphicon-repeat pull-right"></span>
    <h4 class="mt-20">Currencies owned by <ng-include src="'components/templates/accountList.html'"></h4>
    <div class="col-md-12">
        <div ng-if="currencies.length">
            <table datatable="ng" class="table table-striped table-orange" dt-options="dtOptions">
                <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Units owned</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="currency in currencies">
                    <td><button class="btn-link" ng-click="showModal($index)">{{currency.code}}</button></td>
                    <td>{{currency.name}}</td>
                    <td>{{currency.unconfirmedUnits | formatBalanceNQT:currency.decimals | number}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="!currencies.length">
            <p style="font-style: italic; padding-top: 20px;">This account owns no currencies</p>
        </div>
    </div>
</div>
