<div class="modal" tabindex="-1" role="dialog" ng-controller="CurrencyController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title">{{currency.name}}</h4>
            </div>
            <div class="modal-body">
                <div class="pull-right" ng-include="'components/templates/accountList.html'"></div>
                <div bs-tabs>
                    <div title="Details" bs-pane>
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td><strong>Code</strong></td>
                                <td>{{currency.code}}</td>
                            </tr>
                            <tr>
                                <td><strong>Name</strong></td>
                                <td>{{currency.name}}</td>
                            </tr>
                            <tr>
                                <td><strong>Type</strong></td>
                                <td>
                                    <span ng-repeat="type in currency.types"><type-icon type="type"></type-icon> </span>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Owner</strong></td>
                                <td>
                                    <a target="_blank" href="http://mynxt.info/blockexplorer/details.php?action=ac&ac={{currency.account}}">{{currency.account | toRS}} <i class="glyphicon glyphicon-new-window"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Current Supply | Max Supply</strong></td>
                                <td>{{currency.currentSupply | number}} | {{currency.maxSupply | number}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Provided description</h3>
                            </div>
                            <div class="panel-body">
                                <p ng-if="currency.description">{{currency.description}}</p>
                                <p ng-if="!currency.description"><em>No description...</em></p>
                            </div>
                        </div>
                    </div>
                    <div title="Buy" ng-if="isExchangeable()" bs-pane>
                        <div class="mt-10"></div>
                        <div class="row mb-10">
                            <div class="col-sm-11">
                                <div class="label label-default pull-right">You have: {{currencyBalance | number}} {{currency.code}}</div>
                            </div>
                        </div>
                        <div class="col-sm-10 col-sm-offset-1 alert alert-success" ng-show="buy.transaction">
                            Successfully placed order. Transaction {{buy.transaction}}.
                        </div>
                        <form role="form" action="javascript:void(0)" class="form-horizontal" name="buyCurrencyForm" ng-submit="buyCurrency(this)" method="post">
                            <div class="form-group">
                                <label for="buyQuantity" class="col-sm-3 control-label">Quantity</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input ng-model="buy.quantity" required min="{{step}}" step="{{step}}" name="buyQuantity" type="number" class="form-control" id="buyQuantity">
                                        <span class="input-group-addon">{{currency.code}}</span>
                                    </div>
                                    <small class="error" ng-show="buyCurrencyForm.buyQuantity.$dirty && buyCurrencyForm.buyQuantity.$error.min">
                                        Quantity should be at least {{step}}
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="buyPrice" class="col-sm-3 control-label">Price</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input ng-model="buy.price" required min="0.00000001" step="0.00000001" name="buyPrice" type="number" class="form-control" id="buyPrice">
                                        <span class="input-group-addon">NXT / {{currency.code}}</span>
                                    </div>
                                    <small class="error" ng-show="buyCurrencyForm.buyPrice.$dirty && buyCurrencyForm.buyPrice.$error.min">
                                        Price should be at least 0.00000001 NXT
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Total</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input disabled type="number" class="form-control"  value="{{buy.price | times:buy.quantity}}">
                                        <span class="input-group-addon">NXT</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-3">
                                    <p class="help-block">
                                        This request will be executed immediately and may be filled or partially filled and expires right after. To protect you as a buyer we prevent placing of offers that cannot be filled.
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 col-sm-offset-3">
                                    <button type="submit" ng-class="{disabled: buyCurrencyForm.$invalid}" ng-disabled="buyCurrencyForm.$invalid || !sell.offers.length" class="btn btn-block btn-success" ladda="loading">Buy</button>
                                </div>
                            </div>
                        </form>
                        <div class="col-sm-10 col-sm-offset-1">
                            <span>Lowest sell offers:</span>
                            <table class="table table-striped" ng-show="sell.offers.length">
                                <thead>
                                <tr>
                                    <th>Supply</th>
                                    <th>Limit</th>
                                    <th>Rate</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="offer in sell.offers" ng-click="fillBuyOffer(offer)" style="cursor: pointer;">
                                    <td>{{offer.supply | formatBalanceNQT:currency.decimals | number }} {{currency.code}}</td>
                                    <td>{{offer.limit | formatBalanceNQT:currency.decimals | number }}</td>
                                    <td>{{offer.rateNQT | formatPriceNQT:currency.decimals | number }} NXT</td>
                                </tr>
                                </tbody>
                            </table>
                            <p ng-show="!sell.offers.length">
                                No sell offers.
                            </p>
                        </div>
                    </div>
                    <div title="Sell" ng-if="isExchangeable()" bs-pane>
                        <div class="mt-10"></div>
                        <div class="row mb-10">
                            <div class="col-sm-11">
                                <div class="label label-default pull-right">You have: {{currencyBalance | number}} {{currency.code}}</div>
                            </div>
                        </div>
                        <div class="col-sm-10 col-sm-offset-1 alert alert-success" ng-show="sell.transaction">
                            Successfully placed order. Transaction {{sell.transaction}}.
                        </div>
                        <form role="form" action="javascript:void(0)" class="form-horizontal" name="sellCurrencyForm" ng-submit="sellCurrency(this)" method="post">
                            <div class="form-group">
                                <label for="sellQuantity" class="col-sm-3 control-label">Quantity</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input ng-model="sell.quantity" required min="{{step}}" step="{{step}}" name="sellQuantity" type="number" class="form-control" id="sellQuantity">
                                        <span class="input-group-addon">{{currency.code}}</span>
                                    </div>
                                    <small class="error" ng-show="sellCurrencyForm.sellQuantity.$dirty && sellCurrencyForm.sellQuantity.$error.min">
                                        Quantity should be at least {{step}}
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sellPrice" class="col-sm-3 control-label">Price</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input ng-model="sell.price" required min="0.00000001" step="0.00000001" name="sellPrice" type="number" class="form-control" id="sellPrice">
                                        <span class="input-group-addon">NXT / {{currency.code}}</span>
                                    </div>
                                    <small class="error" ng-show="sellCurrencyForm.sellPrice.$dirty && sellCurrencyForm.sellPrice.$error.min">
                                        Price should be at least 0.00000001 NXT
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Total</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input disabled type="number" class="form-control"  value="{{sell.price | times:sell.quantity}}">
                                        <span class="input-group-addon">NXT</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-3">
                                    <p class="help-block">
                                        This request will be executed immediately and may be filled or partially filled and expires right after. To protect you as a buyer we prevent placing of offers that cannot be filled.
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 col-sm-offset-3">
                                    <button type="submit" ng-class="{disabled: sellCurrencyForm.$invalid}" ng-disabled="sellCurrencyForm.$invalid || !sell.offers.length" class="btn btn-block btn-danger" ladda="loading">Sell</button>
                                </div>
                            </div>
                        </form>
                        <div class="col-sm-10 col-sm-offset-1">
                            <span>Lowest buy offers:</span>
                            <table class="table table-striped" ng-show="sell.offers.length">
                                <thead>
                                <tr>
                                    <th>Supply</th>
                                    <th>Limit</th>
                                    <th>Rate</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="offer in buy.offers" ng-click="fillSellOffer(offer)" style="cursor: pointer;">
                                    <td>{{offer.supply | formatBalanceNQT:currency.decimals | number }} {{currency.code}}</td>
                                    <td>{{offer.limit | formatBalanceNQT:currency.decimals | number }}</td>
                                    <td>{{offer.rateNQT | formatPriceNQT:currency.decimals | number }} NXT</td>
                                </tr>
                                </tbody>
                            </table>
                            <p ng-show="!buy.offers.length">
                                No buy offers.
                            </p>
                        </div>
                    </div>
                    <div title="Transfer" ng-if="isExchangeable()" bs-pane>
                        <div class="mt-10"></div>
                        <div class="row mb-10">
                            <div class="col-sm-11">
                                <div class="label label-default pull-right">You have: {{currencyBalance | number}} {{currency.code}}</div>
                            </div>
                        </div>
                        <div class="alert alert-success" ng-show="transfer.transaction">
                            Successfully transfered currency. Transaction {{transfer.transaction}}.
                        </div>
                        <form role="form" action="javascript:void(0)" class="form-horizontal" name="transferCurrencyForm" ng-submit="transferCurrency(this)" method="post">
                            <div class="form-group">
                                <label for="transferQuantity" class="col-sm-3 control-label">Quantity</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input ng-model="transfer.quantity" required min="{{step}}" step="{{step}}" max="{{currencyBalance}}" name="transferQuantity" type="number" class="form-control" id="transferQuantity" value="0">
                                        <span class="input-group-addon">{{currency.code}}</span>
                                    </div>
                                    <small class="error" ng-show="transferCurrencyForm.transferQuantity.$dirty && transferCurrencyForm.transferQuantity.$error.min">
                                        Quantity should be at least {{step}} {{currency.code}}
                                    </small>
                                    <small class="error" ng-show="transferCurrencyForm.transferQuantity.$dirty && transferCurrencyForm.transferQuantity.$error.max">
                                        Quantity should be max {{currencyBalance | number}} {{currency.code}}
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="transferRecipient" class="col-sm-3 control-label">Recipient</label>
                                <div class="col-sm-8">
                                    <input ng-model="transfer.recipient" required name="transferRecipient" type="text" class="form-control" id="transferRecipient">
                                    <small class="error" ng-show="transferCurrencyForm.transferRecipient.$dirty && transferCurrencyForm.transferRecipient.$error.required">
                                        Recipient is required
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 col-sm-offset-3">
                                    <button type="submit" ng-class="{disabled: transferCurrencyForm.$invalid}" ng-disabled="transferCurrencyForm.$invalid" class="btn btn-primary btn-block" ladda="loading">Transfer</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div title="Claim" ng-if="isClaimable()" bs-pane>
                        <div class="mt-10"></div>
                        <div class="row mb-10">
                            <div class="col-sm-11">
                                <div class="label label-default pull-right">You have: {{currencyBalance | number}} {{currency.code}}</div>
                            </div>
                        </div>
                        <div class="alert alert-success" ng-show="claim.transaction">
                            Successfully claimed currency. Transaction {{claim.transaction}}.
                        </div>
                        <form role="form" action="javascript:void(0)" class="form-horizontal" name="claimCurrencyForm" ng-submit="claimCurrency(this)" method="post">
                            <div class="form-group">
                                <label for="claimUnits" class="col-sm-3 control-label">Quantity</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input ng-model="claim.units" required min="{{step}}" step="{{step}}" max="{{currencyBalance}}" name="claimUnits" type="number" class="form-control" id="claimUnits" value="0">
                                        <span class="input-group-addon">{{currency.code}}</span>
                                    </div>
                                    <small class="error" ng-show="claimCurrencyForm.claimUnits.$dirty && claimCurrencyForm.claimUnits.$error.min">
                                        Quantity should be at least {{step}} {{currency.code}}
                                    </small>
                                    <small class="error" ng-show="claimCurrencyForm.claimUnits.$dirty && claimCurrencyForm.claimUnits.$error.max">
                                        Quantity should be max {{currencyBalance | number}} {{currency.code}}
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Total</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input disabled type="number" class="form-control"  value="{{claim.units | formatPriceNQT:currency.decimals | times:currency.currentReservePerUnitNQT}}">
                                        <span class="input-group-addon">NXT</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 col-sm-offset-3">
                                    <button type="submit" ng-class="{disabled: claimCurrencyForm.$invalid}" ng-disabled="claimCurrencyForm.$invalid" class="btn btn-primary btn-block" ladda="loading">Claim</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div ng-if="isReservable()" title="Reserve" bs-pane>
                        <div class="mt-10"></div>
                        <div class="alert alert-success" ng-show="reserve.transaction">
                            Successfully reserved currency. Transaction {{reserve.transaction}}.
                        </div>
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td><strong>Blocks till issuance</strong></td>
                                <td>{{currency.issuanceHeight - blockHeight | number}}</td>
                            </tr>
                            <tr>
                                <td><strong>Reserve Supply</strong></td>
                                <td>{{currency.reserveSupply | formatBalanceNQT:currency.decimals | number}}</td>
                            </tr>
                            <tr>
                                <td><strong>Initial Supply</strong></td>
                                <td>{{currency.initialSupply | formatBalanceNQT:currency.decimals | number}}</td>
                            </tr>
                            <tr>
                                <td><strong>Minimum Reserve Price</strong></td>
                                <td>{{currency.minReservePerUnitNQT | formatPriceNQT:currency.decimals | number}} NXT</td>
                            </tr>
                            <tr>
                                <td><strong>Current Reserve Price</strong></td>
                                <td>{{currency.currentReservePerUnitNQT| formatPriceNQT:currency.decimals | number}} NXT</td>
                            </tr>
                            </tbody>
                        </table>
                        <form role="form" action="javascript:void(0)" class="form-horizontal" name="reserveCurrencyForm" ng-submit="reserveCurrency(this)" method="post">
                            <div class="form-group">
                                <label for="amountPerUnit" class="col-sm-3 control-label">Amount per unit</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input ng-model="reserve.amountPerUnit" required min="0.00000001" step="0.00000001" name="amountPerUnit" type="number" class="form-control" id="amountPerUnit">
                                        <span class="input-group-addon">NXT</span>
                                    </div>
                                    <small class="error" ng-show="reserveCurrencyForm.amountPerUnit.$dirty && reserveCurrencyForm.amountPerUnit.$error.min">
                                        Amount should be at least 0.00000001
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Amount of NXT reserved</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                            <input disabled type="number" class="form-control"  value="{{reserve.amountPerUnit | formatBalanceNQT:currency.decimals | times:currency.reserveSupply}}">
                                        <span class="input-group-addon">NXT</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 col-sm-offset-3">
                                    <button type="submit" ng-class="{disabled: reserveCurrencyForm.$invalid}" ng-disabled="reserveCurrencyForm.$invalid" class="btn btn-primary btn-block" ladda="loading">Reserve</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-4 pull-right">
                    <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>