<div ng-controller="CurrenciesController">
    <h4 class="mt-20">All currencies</h4>
    <div class="col-md-12">
        <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" class="table table-striped table-orange"></table>
    </div>
</div>
