.modal-backdrop.am-fade {
  opacity: 0;
}
a[ng-click], input[type=checkbox] {
  cursor: pointer;
}

.table-blue thead>tr>th {
  border-bottom: 2px solid #3c8dbc !important;
}

.table-green thead>tr>th {
  border-bottom: 2px solid #00a65a !important;
}

.table-yellow thead>tr>th {
  border-bottom: 2px solid #f39c12 !important;
}

.table-orange thead>tr>th {
  border-bottom: 2px solid #dd601e !important;
}

.table-purple thead>tr>th {
  border-bottom: 2px solid #3c2da6 !important;
}

.table-red thead>tr>th {
  border-bottom: 2px solid #f32222 !important;
}

.box {
  position: relative;
  margin-bottom: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
}

.table-striped > thead > tr {
  background-color: #f9f9f9;
}

.table-striped>tbody>tr:nth-child(odd)>td,.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #f3f4f5;
}

.table-striped>tbody>tr:nth-child(even)>td,.table-striped>tbody>tr:nth-child(even)>th {
  background-color: #ffffff;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

tr.unconfirmed {
  font-style: italic;
}

.modal-dialog {
  width: 700px;
}