<!DOCTYPE html>
<html lang="en" ng-app="ms-plugin">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MyNXT Monetary System plugin</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="dist/mynxt-ms-plugin.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/>
</head>
<body>
<div class="container-fluid" ng-controller="MainController" style="min-height: 750px;">
  <div class="row">
    <div class="col-md-12" bs-tabs>
      <div title="All Currencies" bs-pane>
        <div ng-include="'components/templates/currencies.html'"></div>
      </div>
      <div title="My Currencies" ng-if="selectedAccount" bs-pane>
        <div ng-include="'components/templates/accountCurrencies.html'"></div>
      </div>
    </div>
  </div>
  <script src="dist/mynxt-ms-plugin.js"></script>
</div>
</body>
</html>
